.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;   
}

form{
    border-radius: 30%;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

fieldset{
    padding: 30px;
    border: none;
}

input:invalid +span:after{
    content: "X";
    color: red;
    padding-left: 5px;
}

input:valid + span:after{
    content: "✓";
    color: green;
    padding-left: 5px;
}

select,input{
    padding: 8px;
    border: none;
    border-radius: 3px;
}
select{
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
.submit{
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    margin-left: 100px;
}
